# Environment-specific files such as configuration, logs, and setup
docs/*
env/*
logs/*
local_config.py
config_dev.py
config_prod.py

# Python bytecode files
*.pyc

# Misc and OS files
Desktop.ini             # Directory atttributes in Windows.
Thumbs.db               # Picture thumbnail cache in Windows 98.
.DS_Store               # Directory attributes in Mac OS X.
