# Environment-specific files such as configuration and logs
build/
instance/
logs/
local_config.py
config_dev.py
config_prod.py
celeryconfig.py

*.pyc
*.egg-info
*epio*

# Misc and OS files
Desktop.ini         # Windows directory atttributes
Thumbs.db           # Windows picture thumbnail cache
.DS_Store           # Mac OSX directory attributes
