"""\
Development Config

This will be used when running Flask's local development server with app.run().
You can use this implicitly with app.run or by setting SETTINGS_MODULE to this.

See 'default_config.py' for a complete list of overridable settings.
"""


# Development settings
DEBUG = True            # Or None to use debug mode when started with app.run()
HOST = 'localhost'      # Or '0.0.0.0' to allow connections from other machines
PORT = 5000             # Or 80 to behave like a standard server with the above

# Admin settings
ADMINS = []             # List of admin email addresses for error notifications

# Security settings
SECRET_KEY = 'development key'

# Email settings
APP_EMAIL_INFO = None   # Format: ((HOST, PORT), (EMAIL_USER, EMAIL_PASS), FROM_ADDRESS)
ERROR_EMAIL_INFO = None # Format: ((HOST, PORT), (EMAIL_USER, EMAIL_PASS), FROM_ADDRESS)

# OAuth settings
OAUTH_GMAIL_KEY = ''    # The OAuth key for accessing Gmail
OAUTH_GMAIL_SECRET = '' # The OAuth secret for accessing Gmail

# Scraper settings
MAILBOX_TO_SCRAPE = 'INBOX' # The mailbox to scrape, overridden for speed tests
