@charset "utf-8";

body {
    background-color: #CEF;
}

.page {
    background-color: white;
    width: 800px;
    margin: 20px auto 0px auto;
    padding: 30px;
    border: 1px solid gray;
}

#github-banner {
    position: absolute;
    top: 0;
    right: 0;
    border: 0;
}

.flashed-messages {
    border: 1px dotted #888;
    background-color: #FFE;
    margin: 0 0 24px 0;
    padding: 0 24px;
    color: #333;
    font-weight: bold;
}
