@charset "utf-8";

/* Base styles */
body {
    background: #cef url('background.png') 50% 0 repeat-y;
    font-family: 'Arial' 'Verdana';
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 2em;
    color: #222;
}

.page {
    background-color: white;
    color: #333;
    width: 800px;
    margin: 24px auto 24px auto;
    padding: 30px;
    border: 1px solid #9cd;
    -moz-box-shadow: 0 0 24px 2px #8bc;
    -webkit-box-shadow: 0 0 24px 2px #8bc;
    box-shadow: 0 0 24px 2px #8bc;
}

#github-banner {
    position: absolute;
    top: 0;
    right: 0;
    border: 0;
}

.flashed-messages {
    border: 1px dotted #888;
    background-color: #ffe;
    margin: 0 0 24px 0;
    padding: 0 24px;
    color: #333;
    font-weight: bold;
}
.content {
    padding: 0;
}
.content h1 {
    font-size: 1.5em;
    color: #222;
}
.content-end {
    clear: both;
}
* html .content-end {
    height:1px;
}



/* Tablesorter */
table.tablesorter {
    font-family: arial;
    background-color: #CDCDCD;
    margin: 10px 0pt 15px;
    font-size: 8pt;
    width: 100%;
    text-align: left;
}
table.tablesorter thead tr th, table.tablesorter tfoot tr th {
    background-color: #e6EEEE;
    border: 1px solid #FFF;
    font-size: 8pt;
    padding: 4px;
}
table.tablesorter thead tr .header {
    background-image: url('bg.gif');
    background-repeat: no-repeat;
    background-position: center right;
    cursor: pointer;
}
table.tablesorter tbody td {
    color: #3D3D3D;
    padding: 4px;
    background-color: #FFF;
    vertical-align: top;
}
table.tablesorter tbody tr.odd td {
    background-color:#F0F0F6;
}
table.tablesorter thead tr .headerSortUp {
    background-image: url('asc.gif');
}
table.tablesorter thead tr .headerSortDown {
    background-image: url('desc.gif');
}
table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
    background-color: #8dbdd8;
}



/* Landing page styles */
.intro {
    padding: 0;
    margin: 0 0 44px;
}

.trial {
    float: left;
    width: 38%;
    padding-left: 4%;
}
.signup {
    float: right;
    width: 52%;
    border-left: 1px dotted #ddd;
    padding-left: 4%;
}
.trial h1, .signup h1 {
    margin: 0;
}



/* Results styles */
.results {
    width: 100%;
}
.results td {
    min-width: 80px;
}
.phone_number_value {
    font-weight: bold;
}
.results textarea {
    font-family: 'Arial' 'Verdana';
    font-size: 8pt;
    margin: 0;
    padding: 3px;
    border-color: #aaa;
    border-style: solid;
    border-width: thin;
    width: 92%;
    height: 7em;
    outline: none;
    resize: vertical;
}

.feedback {
    border-top: 1px solid #ddd;
    margin: 24px auto 0;
}
