<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>{%block fulltitle%}{% block title %}{% endblock %} - DijScrape{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('.static', filename='style.css') }}" />
    {% block additionalstyles %}{% endblock %}
    <link rel="shortcut icon" href="{{ url_for('.static', filename='favicon.ico') }}" />
    <!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
    {% block additionalscripts %}{% endblock %}
</head>
<body>
    <div class="page">
        <header>
            <h1>DijScrape</h1>
        </header>
        
        {% for message in get_flashed_messages() %}
        <div class="messages">
            <p class="message">{{ message }}</p>
        </div>
        {% endfor %}
        
        <div class="content">
            {% block content %}{% endblock %}
        </div>
        
        <section class="footer">
            {% block footer %}<!-- TODO: Copyright? -->{% endblock %}
        </section>
    </div>
</body>
</html>
