{% extends "base.html" %}

{% block title %}Finding phone numbers{% endblock %}
{% block additionalscripts %}
<script src="{{ url_for('.static', filename='lib/timers/jquery.timers-1.2.js') }}"></script>
<script>
    function poll_task() {
        $.getJSON("poll-task/{{ task_id }}", function(data) {
            if(data === true)
                window.location.replace("results");
            else if(data)
                $('#progress').text(' (' + data + ')');
            else
                window.location.replace("/");
        });
    }
    $(document).everyTime(500, poll_task);
</script>
{% endblock %}

{% block content %}
<div class="content">
    <article>
        <h1>Finding phone numbers</h1>
        <p>
            <span class="processing-text">Processing messages. <span id="progress">Please wait.</span></span>
            <img class="spinner" src="{{ url_for('.static', filename='spinner.gif') }}" alt="Pleast wait" width="37" height="39" />
        </p>
    </article>
</div>
<div class="content-end"></div>
{% endblock %}
